.navbar {
    background-color:cornsilk;
}

nav {
    display: flex;
    width:100%;
    border-style: solid;
    border-radius: 6px;
    border-color:rgb(211, 184, 218);;          
}

.navegar {
    margin: 0px;
    padding: 30px;
    display: flex;
    color:rgb(107, 175, 214);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navegar li {
    margin-left: 30px;
    padding-right: 30px;
    list-style-type: none;
}

.card {
    align-self: center;
}

.text {
    text-align: justify;
    padding-right: 30px;
    color:darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    bottom:0;
    position:absolute;
    width: 100%;
    display: flex;
    border-style: dotted;
    text-align: center;  
    background-color: rgba(211, 211, 211, 0.507);
}

.footer li {
    list-style-type: none;
}

.padrao{
    color: red;
}

